* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  width: 1200px;
  margin: 42px auto 37px;
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 64px;
}

#right {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 77px;
}

#left {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

ul li a:hover {
  color: #2196f3;
  opacity: 0.75;
}

ul li button {
  background: #2196f3;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
