* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 64px;
}

#right {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 77px;
}

#left {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}


